RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests"


# Define custom error pages
ErrorDocument 404 /404.php
ErrorDocument 500 /404.php

# Rewrite rules for clean URLs
RewriteRule ^Home$ index.php [L]
RewriteRule ^About$ AboutUs.php [L]   
RewriteRule ^Contact$ contact.php [L]
RewriteRule ^RequestDemo$ RequestDemo.php [L]
RewriteRule ^SiteMap$ sitemap.php [L]  


