RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests"


# Define custom error pages
ErrorDocument 404 /404.html

# Rewrite rules for clean URLs
RewriteRule ^Home$ index.php [L,NC]
RewriteRule ^Contact$ contact.php [L,NC]
RewriteRule ^About$ AboutUs.php [L,NC]
RewriteRule ^RequestDemo$ RequestDemo.php [L,NC]
RewriteRule ^SiteMap$ sitemap.html [L,NC]

# RewriteRule ^Natural Sesame Seeds natural-sesame-seeds.php [L]  